<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    <title>{{title}}</title>
    <!-- Global stylesheets -->
    <link href="../public/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <link href="../public/css/dd-shell-index.css" rel="stylesheet" type="text/css" />
    <link href="../public/css/dd-content-article.css" rel="stylesheet" type="text/css" />
    <!-- Core JS files -->
    <script src="../public/js/dd-content-number-line.js" type="application/javascript"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <!-- /theme JS files -->
</head>
<body class="dd-shell-bg-white">
<!-- Main navbar -->
<div class="navbar ">
    <div class="container">
        <div class="navbar-header">
            <div class="page-logo">
                <a href="index.html">
                    <img src="../public/images/index/logo.png" alt="logo" class="logo-default">
                </a>
            </div>

        </div>

        <div class="navbar-collapse collapse dd-navbar-primary" id="navbar-mobile">
            <ul class="nav navbar-nav pull-right dd-navbar-nav">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                <li  >
                    <a href="/features">Features</a>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <li >
                    <a href="/examples">Examples</a>
                </li>

                <li >
                    <a href="/pricing">Pricing</a>
                </li>
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li >
                    <a href="/login">Login</a>
                </li>

            </ul>



        </div>

    </div>

</div>
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <div class="container">
                <div id="content" role="main">

                </div>
            </div>
        </div>
    </div>
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
</div>
</body>
</html>